@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About Us";
}

<section id="aboutUs">
    <header>
        <h3>@Page.Title</h3>
    </header>

    <article>
        <h5>Konnichiwa</h5>
        <p>
            What started out as a passionate hobby is now my living dream!
        </p>
        <p>
            Much of my non-professional life was devoted to Asian cuisine, from recreating traditional 
            dishes to inventing my own. Countless weekends were spent pouring over the aisles of Asian 
            markets discovering new ingredients, befriending the owners, picking up tips and exchanging 
            recipes. Then, I would rush home to prepare Japanese, Korean and Thai-inspired dishes for my 
            family and friends.
        </p>
        <p>
            Suddenly it hit me. Why not do what actually drives me? After much encouragement, I have 
            decided to leave my professional IT career behind me and focus on my true passion, sushi.
        </p>
    </article>

    <article>
        <h5>What is Bu Sushi?</h5>
        <p>
            Pronounced “boo soo-shee”, we are a sushi delivery and catering company. I am proud to serve
            you innovative and traditional Japanese cuisine.
        </p>
        <p>
            For sushi delivery, simply <a href="mailto:accounts&#64;busushi.com?Subject=New Account">e-mail us</a>
            to add your office location to our delivery list then view our <a href="~/schedule">delivery schedule</a>
            to see when we'll be in your area. Prior to delivery day, you may <a href="~/products">pre-order</a>
            your favorite roll or <a href="~/createaroll">create your own</a>.
            We will also offer a selection of daily specialty rolls on delivery day.
        </p>
        <p>
            For parties, weddings and corporate events, you can <a href="mailto:catering&#64;busushi.com">book Bu Sushi</a> in advance.
        </p>
        <p>
            Bu Sushi uses only the freshest and finest ingredients.
        </p>
    </article>

    <article>
        <h5>Who Are We</h5>
        <p>
            Currently we only cater for private events (such as get togethers at home or business)
            anywhere in Cochise county, AZ as well as Tucson, AZ. In the future we will be offering a lunch delivery
            service to local businesses located in Benson and Sierra Vista, AZ. We also intend to allow call-in/pickup
            & delivery from 10AM to 10PM as soon as we have our physical location in place. Please keep in mind that
            all specials shown on the front page do apply to catering prices as well.
            @*
            We deliver sushi during lunch to businesses located in Benson, and Sierra Vista, AZ as well at cater local
            events in Tuscon, Benson, and Sierra Vista, AZ. We can add your office
            location to our list of delivery locations, and then once, or twice a week (depending on whether you are in
            Benson or Sierra Vista). We will come by with a selection of sushi you may choose from or you may pre-order
            a roll from our product selection to make sure we aren't sold out before we get to your office. You may also
            create your own custom roll however you'd like it and we will bring it to you on whatever delivery day you
            choose.
            <br />
            <small>(Special Orders must be made 3 days in advance just to make sure we have fresh ingredients for your
            roll).</small>*@
        </p>
        <p>
            We apologize for the inconvenience, but we are currently still in the process of finding a commercial kitchen
            to rent in order to make your sushi to the highest possible standards. As soon as we have procured a kitchen to
            prepare all of our wonderful food for you, we can alert you that we are ready to start delivering.
        </p>
        <p>
            <a href="~/alertMe/">Sign Up</a> to be alerted when we start delivering.
        </p>
    </article>

    <article>
        <h5>D&omacr;mo Arigat&omacr; Gozaimasu</h5>
        <p>
            Thank you for taking the time to meet me and Bu Sushi. I look forward to creating a roll (or two!)
            for you soon.
        </p>
        <p class="bold italic">Melanie Yaun, Owner & Chef</p>
    </article>

</section>
