@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Catering";
}

<section id="catering">
    <header>
        <h3>@Page.Title</h3>
    </header>

    <img src="/images/sushi/smallplatterexample.jpg" alt="Small Platter (Example)" />

    <p>
        Bu Sushi offers catering for many private event needs. Office events, housewarming parties,
        football night, or any other occasion or location (10 roll minimum), we can provide the food for you.
        We can provide drinks and sides such as edamame or gyoza and will happily bring everything
        to your event for you. Please check our products page for the selection we offer, or even
        create your own roll using our <a href="~/createaroll">Create-A-Roll</a> system. If there
        are any ingredients you would like on or in your roll, please let us know and we will do
        our best to accomodate any needs you may have. Also please keep in mind that our specials
        are discounted for catering as well.
        
    </p>
    <p>
        Contact us at <a href="mailto:catering&#64;busushi.com">catering&#64;busushi.com</a>
        for our pricing information and check back to this page regularly for updates on more
        specific information about our catering.
    </p>
</section>
