@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact Us";
}


<section class="contact">
    <header><h3>@Page.Title</h3></header>
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>(520) 302-4228</span>
    </p>

    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">General Topics:</span>
        <br />
        <span><a href="mailto:admin&#64;busushi.com">admin&#64;busushi.com</a></span>
    </p>
    <p>
        <span class="label">Setup a new account/lunch delivery service location with us:</span>
        <br />
        <span><a href="mailto:accounts&#64;busushi.com">accounts&#64;busushi.com</a></span>
    </p>
    <p>
        <span class="label">Catering Requests:</span>
        <br />
        <span><a href="mailto:catering&#64;busushi.com">catering&#64;busushi.com</a></span>
    </p>
    <p>
        <span class="label">Website Support:</span>
        <br />
        <span><a href="mailto:webmaster&#64;busushi.com">webmaster&#64;busushi.com</a></span>
    </p>
</section>