@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Lunch Delivery Service";
}

<section id="lunchDeliveryService">
    <header>
        <h3>@Page.Title</h3>
    </header>

    <article>
        <h4>What is Lunch Delivery Service?</h4>
        We bring a selection of sushi to local offices on one to two days of each week. We
        will e-mail you to remind you that we are coming so that you don't have to bring lunch
        on our delivery days. You may purchase from our selection on site, or you may pre-order
        any of our products (or make your own) in advance and we will set it aside for you to
        make sure you get your order for lunch.
    </article>

</section>
