@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Our Staff";
}

<section id="ourStaff">
    <header>
        <h3>@Page.Title</h3>
    </header>

    <article>
        <h4>Melanie Yaun</h4>
        <address>Bu Sushi Owner/Operator</address>
        @*<img src="#" alt="Melanie Yaun" width="200" height="200" />*@
        <address>E-Mail: <a href="mailto:melanie&#64;busushi.com">melanie&#64;busushi.com</a></address>
        <p>
            I've spent the past 20 years in the IT industry and making food for my friends and
            family at home. Over the years I got better and better until I decided to start Bu
            Sushi. Outside of sushi though, I enjoy watching TV shows, especially Supernatural,
            White Collar, Royal Pains, and many others. I also enjoy playing games on steam
            (<a href="http://steamcommunity.com/id/madcompg33k/" target="_blank">madcompg33k</a>
            if you'd like to add me) and PS3. I love to go camping with my family on occasion,
            especially when I get to cook outside on a wood fire. Contact me anytime for any
            questions or suggestions for Bu Sushi. I'm open to anything you'd like to share!
        </p>
        
    </article>

</section>
