@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Sushi Delivery";
}

<section id="sushiDelivery">
    <header>
        <h3>@Page.Title</h3>
    </header>

    <article>
        <h4>We Will Be Delivering!</h4>
        Currently we are still looking for a location to operate out of (however
        we are currently catering), and once we are situated, we will be delivering
        to most of Cochise County.
    </article>
    
    <article>
        <h4>Cochise County Delivery!</h4>
        At first, for areas outside of Sierra Vista (such
        as Benson, Hereford, Tombstone, etc.) we will send a delivery driver to your
        area every hour so that you may order and have it brought to you once our
        driver is in the area. Our drivers will also have a selection of sushi kept
        cold in their vehicle so that if you forgot to order before they left, you
        may still choose from that selection and get your food in no time at all!
    </article>

    <article>
        <h4>Local Delivery!</h4>
        We will also be available (once our location is up and running) for call-in
        pickup or local delivery, and one of our drivers will bring your food to you
        as soon as it is ready.
    </article>

</section>
