@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Sushi 101";
}

<section id="sushi101">
    <header>
        <h3>@Page.Title</h3>
    </header>

    <article>
        The original type of sushi, known today as nare-zushi (馴れ寿司) was first made in Southeast Asia, possibly along what is
        now known as the Mekong River. The term sushi comes from an archaic grammatical form no longer used in other contexts; literally,
        sushi means "sour-tasting", a reflection of its historic fermented origins. The oldest form of sushi in Japan, narezushi, still
        very closely resembles this process, wherein fish is fermented via being wrapped in soured fermenting rice. The fish proteins break
        down via fermentation into their constituent amino acids. The fermenting rice and fish results in a sour taste and also one of the five
        basic tastes, called umami in Japanese.
    </article>

    <article>
        <h3>Health Risks:</h3>
        <p>
            Some of the ingredients in sushi can present health risks. Large marine apex predators such as tuna (especially bluefin) can harbor high levels
            of methylmercury, which can lead to mercury poisoning when consumed in a large quantity or when consumed by certain higher-risk groups, including
            women might get pregnant, pregnant women, nursing mothers and young children.
        </p>
        <p>Sashimi or other types of sushi containing raw fish present a risk of infection by three main types of parasites:</p>
        <ul>
            <li>
                <a href="http://en.wikipedia.org/wiki/Clonorchis_sinensis" target="_blank">Clonorchis sinensis</a>,
                a fluke which can cause <a href="http://en.wikipedia.org/wiki/Clonorchiasis" target="_blank">clonorchiasis</a></li>
            <li>
                <a href="http://en.wikipedia.org/wiki/Anisakis" target="_blank">Anisakis</a>,
                a roundworm which can cause <a href="http://en.wikipedia.org/wiki/Anisakiasis#Anisakiasis" target="_blank">anisakiasis</a></li>
            <li>
                <a href="http://en.wikipedia.org/wiki/Diphyllobothrium" target="_blank">Diphyllobothrium</a>,
                a tapeworm which can cause <a href="http://en.wikipedia.org/wiki/Diphyllobothriasis" target="_blank">diphyllobothriasis</a></li>
        </ul>
        <p>
            For the above reasons, EU regulations forbid the use of fresh raw fish. It must be frozen at temperatures below -20 &deg;C (-4 &deg;F) in all parts
            of the product for no less than 24 hours. As such, a number of fishing boats, suppliers and end users "super freeze" fish for sushi to temperatures
            as low as -60 &deg;C. As well as parasite destruction, super-freezing also prevents oxidation of the blood in tuna flesh, thus preventing the discoloration
            that happens at temperatures above -20 &deg;C.
        </p>
    </article>

    <article>
        <h3>Conservation:</h3>
        <p>
            There is a major concern today over the health of the fish we consume daily, as well as overfishing concerns for many types of fish. Learn more about what
            you can do to help at <a href="http://www.seafoodwatch.org" target="_blank">www.seafoodwatch.org</a>
        </p>
    </article>

    <article>
        <h3>Types of Sushi:</h3>
        <p id="Makizushi"><strong>Makizushi (巻き寿司): </strong> ("Rolled Sushi") A cylindrical piece, formed with the help of a bamboo mat known as makisu. This refers to all rolled-types of sushi.</p>
        <p id="Hosomaki"><strong>Hosomaki (細巻): </strong> ("Thin Rolls") A small cylindrical piece, with nori on the outside. A typical hosomaki has a diameter of about 1 inch and only one ingredient.</p>
        <p id="Uramaki"><strong>Uramaki (裏巻): </strong> ("Inside-Out Roll") A medium-sized cylindrical piece with two or more fillings, and was innovated as a result of the creation of the California Roll.</p>
        <p id="Futomaki"><strong>Futomaki (太巻): </strong> ("Fat Rolls") A large cylindrical piece, usually with nori on the outside. A typical futomaki is 2-2.5 inches in diameter. They are often made with
                                        two, three, or more fillings that are chosen for their complementary tastes and colors.</p>
        <p id="Temaki"><strong>Temaki (手巻): </strong> (also Teppamaki, "Hand Roll") A large cone-shaped piece of nori on the outside and the ingredients spilling out of the wide end. A typical temaki is
                                        about 4 inches long, and is eaten with fingers because it is too akward to pick it up with chopsticks. For optimal taste and texture, temaki must
                                        be eaten quickly after being made because the nori cone soon absorbs the moisture from the filling and loses its crispness.</p>
        <p id="Nigirizushi"><strong>Nigirizushi (握り寿司): </strong> ("Hand-Pressed Sushi") Nigirizushi is an oblong mound of sushi rice that the chef presses into a small rectangular box between the palms of the hands,
                                            usually with a bit of wasabi, and a topping (the neta) draped over it. Neta are typically fish such as salmon, tuna or other seafood.</p>
        <p id="Gunkanmaki"><strong>Gunkan maki (軍艦巻): </strong> ("Warship Roll") A special type of nigirizushi: an oval, hand-formed clump of sushi rice that has a strip of nori wrapped around its perimeter to form
                                            a vessel that is filled with some soft, loose or fine-chopped ingredient that requires the confinement of nori.</p>
        <h5>Others:</h5>
        <p id="Narezushi"><strong>Narezushi (熟れ寿司): </strong> ("Matured Sushi") A traditional form of fermented sushi. Skinned and gutted fish are stuffed with salt, placed in a wooden barrel, doused with salt again, then weighed
                                            down with a heavy tsukemonoishi (pickling stone). As days pass, water seeps out and is removed. After six months, this sushi can be eaten, remaining edible
                                            for another six months or more.</p>
        <p id="Chirashizushi"><strong>Chirashizushi (ちらし寿司): </strong> ("Scattered Sushi") A bowl of sushi rice topped with a variety of raw fish and vegetables/garnishes. There is no set formula for the ingredients; they
                                                are either chef's choice or specified by the customer.</p>
        <p id="Inarizushi"><strong>Inarizushi (稲荷寿司): </strong> Inarizushi is a pouch of fried tofu typically filled with sushi rice alone. It is named after the Shinto god Inari, who is believed to have a fondness for
                                            fried tofu.</p>
        <p id="Oshizushi"><strong>Oshizushi (押し寿司): </strong> ("Pressed Sushi") A pressed sushi from the Kansai region, a favorite and speciality of Osaka. A block-shaped piece formed using a woodem mold, called
                                            an oshibako. The chef lines the bottmo of the oshibako with the toppings, covers them with sushi rice, and then presses the lid of the mold down to create a
                                            compact, rectilinear block. The block is removed from the mold and then cut into bite-sized pieces.</p>
    </article>

    <article>
        <h3>Common Sushi Ingredients:</h3>
        <h5>Fish</h5>
        <p id="Sake"><strong>Salmon </strong>(鮭/Sake/Shake)</p>
        <p id="Maguro"><strong>Tuna </strong>(鮪/Maguro)</p>
        <ul>
            <li>Top loin of Bluefin tuna (赤身/Akami)</li>
            <li>Fattiest portion of Bluefin tuna belly (大とろ/Ōtoro)</li>
            <li>Fatty Bluefin tuna belly (とろ/Toro)</li>
            <li>Medium-fat Bluefin tuna belly (中とろ/Chūtoro)</li>
            <li>Yellowfin Tuna (木肌鮪/Kihada [Maguro])</li>
            <li>Young Pacific Bluefin tuna (メジ鮪/Meji [Maguro])</li>
            <li>Albacore or "white tuna" (白鮪/Shiro Maguro or 鬢長/Binnaga/Bincho)</li>
        </ul>
        <p id="Saba"><strong>Chub or Blue Mackerel </strong>(鯖/Saba)</p>
        <p id="Sawara"><strong>Spanish Mackerel </strong>(鰆/Sawara)</p>
        <p id="Unagi"><strong>Freshwater Eel </strong>(鰻/Unagi)</p>
        <p id="Anago"><strong>Saltwater Eel or Conger Eel </strong>(穴子/Anago)</p>
        <p id="Hirame"><strong>Fluke </strong>(平目/Hirame)</p>
        <p id="Tai"><strong>Seabream Snapper </strong>(鯛/Tai)</p>
        <ul>
            <li>Young seabream (Kasugo)</li>
            <li>Snapper (黒鯛/Kurodai)</li>
            <li>Japanese butterfish (疣鯛/Ibodai)</li>
        </ul>

        <h5>Shellfish</h5>
        <p id="Kani"><strong>Crab meat </strong>(蟹/Kani)</p>
        <p id="Kanikama"><strong>Imitation crab Meat </strong>(蟹/Kanikama)</p>
        <p id="Tarabagani"><strong>King crab </strong>(鱈場蟹/Tarabagani)</p>
        <p id="Amaebi"><strong>Raw pink shrimp </strong>(甘海老/Amaebi)</p>
        <p id="Ebi"><strong>Boiled shrimp </strong>(海老/Ebi)</p>
        <p id="Awabi"><strong>Abalone </strong>(鮑/Awabi)</p>
        <p id="Hokkigai"><strong>Surf clam </strong>(ホッキ貝/Hokkigai)</p>
        <p id="Hotategai"><strong>Scallop </strong>(帆立貝/Hotategai)</p>
        <p id="Kaki"><strong>Oyster </strong>(貝/Kaki)</p>

        <h5>Inkfish</h5>
        <p id="Ika"><strong>Squid </strong>(烏賊/Ika)</p>
        <p id="Tako"><strong>Octopus </strong>(蛸/Tako)</p>


        <h5>Eggs</h5>
        <p id="Tamago"><strong>Sweet Egg Omelette </strong>(卵/Tamago)</p>

        <h5>Roe</h5>
        <p id="Ikura"><strong>Salmon roe </strong>(イクラ/Ikura)</p>
        <p id="Masago"><strong>Smelt Roe </strong>(まさご/Masago)</p>
        <p id="Tobiko"><strong>Flying Fish Roe</strong>(飛び子/Tobiko)</p>
    </article>

    <article>
        <h5>Credits:</h5>
        <p>
            <small>
                The majority of information on this page provided by Wikipedia at:
                <br >
                <a href="http://en.wikipedia.org/wiki/Sushi" target="_blank">http://en.wikipedia.org/wiki/Sushi</a>
                <br />
                <a href="http://en.wikipedia.org/wiki/List_of_sushi_and_sashimi_ingredients" target="_blank">http://en.wikipedia.org/wiki/List_of_sushi_and_sashimi_ingredients</a>
            </small>
        </p>
    </article>
</section>